@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
    display: flex;
    align-items: center;
}

.nav-header, .menu {
    background: #35424a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 4px #9e9e9e;
    opacity: 0.8;
}

.menu {
    width: 3%;
    cursor: pointer;
    padding: 7px;
}

.site-mark-and-slogan-container {
    padding: 0 20px;
    margin: 10px;
    cursor: pointer;
}

.site-mark, .menu {
    font-size: 40px;
    color: #e8491d;
}

.site-slogan {
    padding: 5px;
    color: #e8491d;
    font-size: 18px;
}

.inline-li {
    display: inline;
    padding: 0 20px;
}

.a-btn {
    text-decoration: none;
    font-size: 16px;
    outline: none;
}

nav .a-btn {
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
}

.current {
    color: #ff0033 !important;
}

.a-btn:hover, .icon-mark:hover,
.github:hover, .service-btn:hover,
.menu:hover {
    color: #ff0031;
    background-color: #25343e;
}

.fill-space-in-between {
    flex: 1 1 auto;
}

.icon-mark {
    font-size: 20px;
    color: white;
    margin: 10px;
    padding: 5px;
}

.icon-logo {
    height: 20px;
}

.github .icon-mark {
    margin-right: 0px;
    padding-right: 0px;
}

.github {
    margin-right: 20px;
    padding-right: 10px;
}

.site-entrance {
    background: url(../img/digital.jpg);
    background-attachment: fixed;
    background-position: center; 
}

.welcome {
    position: relative;
    align-items: center;
    background-color: white;
    padding: 40px;
    opacity: 0.7;
}

.wel-content {
    color: #35424a;
    font-size: 60px;
    margin: 5px;
}

.slogan {
    color: #35424a;
}

.hr-rule {
    border-top: 1px solid #ff0031;
    width: 15%;
}
    
.service-btn {
    padding: 10px;
    background-color: #ff0033;
    border: 2px solid #ea6700;
}

.service-btn a {
    color: #ffffff;
}

.services, .services .flex-container-column {
    align-items: center;
}

.services, .contact {
    padding: 50px 0;
}

.services h1 {
    color: #443f3f;
    font-size: 32px;
    margin: 0px;
    padding-top: 30px;
}

.services .hr-rule {
    width: 5%;
    margin-bottom: 30px;
}

.service-icon .mdi {
    color: #d65050;
}

.service-entries {
    padding: 0 10%;
    align-items: stretch;
}

.service-entries .flex-container-column {
    padding: 15px;
    border: 1px solid #d65050;
    border-radius: 0 30px;
    margin: 20px;
    flex: 1 1 20%;
    
}

.service-title {
    color: #443f3f;
    font-size: 16px;
}

.service-description {
    text-align: center;
    color: #47425d;
}

.join-btn {
    color: white;
    background-color: #d65050;
    padding: 12px 35px 12px 35px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    margin-top: 30px;
    font-size: 14px;
}    

.join-btn:hover {
    background-color: #ffffff;
    border-color: #d65050;
}

.contact, .contact > .flex-container-column {
    align-items: center;
    color: #ffffff;
}

.contact > .flex-container-row {
    width: 100%;
    justify-content: space-evenly;
}

.tr-box {
    background-image: url("../img/contact-us.jpg");
    background-position: center;
    background-attachment: fixed;
}

.contact {
    background-color: #333c45;
    opacity: 0.7;
}

.contact h1 {
    font-size: 36px;
    color: #d65050;
}

.contact .mdi {
    color: #e8491d;
}

.contact-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2% 5%;
    color: #d65050;
}

.contact-card > h2 {
    font-size: 26px;
}

.contact-entry p{
    padding: 10px;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: #d6d6d6;
}

.designation-title {
    margin: 0;
    align-self: center;
}

.designation-title + .hr-rule {
    align-self: center;
    width: 20%;
    margin-bottom: 10%;
}

.feedback {
    width: 40%;
    margin: 0 auto;
    background: white;
    opacity: 0.8;
    padding: 50px 100px;
    margin: 30px auto;
    border-radius: 10px;
}

.back-img {
    background-image: url("../img/feedback.jpg");
    background-attachment: fixed;
    background-position: center;
}

.feedback h1 {
    font-size: 36px;
    margin-bottom: 0;
    color: #443f3f;
}

.feedback > .flex-container-column {
    align-items: center;
    align-self: flex-start;
    padding: 20px;
}

.feedback .hr-rule {
    width: 40%;
}

#feedback-form {
    flex-wrap: wrap;
    justify-content: space-between;
    color: #999;
}

.f-ent-1, .f-ent-2 {
    flex-basis: 45%;
}

.f-ent-3, .f-ent-4, .f-ent-5 {
    flex-basis: 80%;
}

.f-ent-4 > .flex-container-row {
    padding: 5px 0;
}

#feedback-form > .flex-container-column {
    padding: 10px;
    margin-bottom: 20px;
}

input, textarea {
    border: none;
    outline: none;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
}

.focus-blur {
    position: relative;
    width: 100%;
}

.static-line {
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #d9d9d9;
}

.focus-expand {
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: green; 
}

input[type="radio"] {
    cursor: pointer;
}

.form-entry-label {
    font-size: 14px;
}

.exper-entry {
    padding: 10px 20px 10px 5px;
    font-size: 20px;
}

.f-ent-1 input:focus, .f-ent-2 input:focus, .f-ent-3 input:focus,
textarea:focus {
    border-bottom-color: greenyellow;
}

textarea {
    height: 100px;
}

.def-button {
    outline: none;
    background-color: #d65050;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    border: none;
}

.def-button:hover {
    background-color: #ffffff;
    border: 1px solid #ff5017;
    color: #ff5017;
    cursor: pointer;
}

#login-reg {
    height: 100vh;
    color: #999;
    position: relative;
}

.left-box-vh {
    position: absolute;
    left: 0;
    width: 70%;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-image: url("../img/log.jpg");
    background-attachment: fixed;
    background-position: center;
}

.right-box-vh {
    position: absolute;
    right: 0;
    width: 30%;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(90deg, #099eb4 0, #0ab777 100%);
}

.left-box-vh h1, .right-box-vh h1 {
    font-size: 48px;
    margin: 0;
    padding: 5px 0;
    color: white;
}

.left-box-vh h1 {
    color: #202121;
}

.right-box-vh p {
    color: white;
    margin: 0 0 20px;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

#login, #register {
    padding: 50px;
    background: white;
    opacity: 0.8;
    border: 2px solid #49363c;
    width: 25%;
}

#register {
    width: 50%;
}

#reg-cont {
    justify-content: space-between;
}

#login h1, #register h1 {
    align-self: center;
}

#login-reg .focus-blur {
    padding: 20px 0;
    
}

.login-btn {
    outline: none;
    background-color: #d65050;
    padding: 15px 80px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 30px;
    margin: 20px 0;
}

.login-btn:hover {
    background-color: white;
    color: #d65050;
    cursor: pointer;
    border: 1px solid #0ab777;
}

#login-error, #reg-error {
    color: red; 
    text-align: center; 
}

.reg-button, .log-button {
    outline: none;
    background-color: #ffffff;
    padding: 15px 80px;
    font-size: 14px;
    color: #d65050;
    border: none;
    border-radius: 30px;
    margin: 20px 0;
}

.reg-button:hover, .log-button:hover {
    background-color: #d65050;
    color: white;
    cursor: pointer;
}

#login-btn-container, #register-btn-container {
    align-self: center;
}

footer .flex-container-row {
    justify-content: space-between;
     background: #ff501b;
     position: relative;
     z-index: 2;
     padding: 0 20px;
     /*opacity: 0.8;*/
}

#footer-mark, #footer-slogan {
    color: #ffffff;
}

#footer-logo:hover {
    background-color: #f00;
}

.designer, .license {
    color: white;
}